.bg-banner {
  background-image: url("./assets/background/banner-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* height: 150vh; */
}

.text-gradient {
  background: -webkit-linear-gradient(75deg, #41a58d, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient {
  background: -webkit-linear-gradient(360deg, #41a58d, #1b2f2a);
  /* -webkit-text-fill-color: transparent; */
}

.bg-middle {
  background-image: url("./assets/background/middle-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
}

.bg-partner {
  background-image: url("./assets/background/partner-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
}

.bg-news {
  background-image: url("./assets/background/news-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* height: 150vh; */
}

input {
  background-color: transparent;
  border-radius: 20px;
  border-width: 1px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.bg-gradient {
  background: -webkit-linear-gradient(347deg, #1b2f2a, #000000);
  /* -webkit-text-fill-color: transparent; */
}

.bg-enroll {
  background-image: url("./assets/background/enroll-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-community {
  background-image: url("./assets/background/comminity-banner-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-middleright {
  background-image: url("./assets/background/community-middle-right.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-middleleft {
  background-image: url("./assets/background/community-middle-left.png");
  background-repeat: no-repeat;
  background-size: cover;
}